
.title-container {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.card {
    width: 250px;
    height: 400px;
}

.card img {
    width: 160px;
    height: 180px;
    margin-top: 1rem
};

ul .cards-container {
    display: flex;
}